*{
    margin: 0;
    padding: 0;
    /*border: 1px solid lightcoral;*/
}

body, html {
    height: 100%;
}

body{
    background-image: url('./assets/lines-1.png');
    width: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

h1{
    font-size: 24px;
    font-weight: 600;
}

header, footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25px;
}

header img{
    position: absolute;
    left: 40px;
    height: 38px;
}

header img:hover{
    cursor: pointer;
}

footer img{
    width: 35px;
    transition: all 50ms linear;
    margin: 0 10px;
}

footer img:hover{
    cursor: pointer;
}

.content-container{
    position: relative;
    height: 800px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image-container{
    background-image: url('./assets/black-paper-3.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.button{
    background-color: white;
    font-size: 18px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 25px;
    transition: all 300ms linear;
}

.button:hover{
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 3px 3px black;
}


.all-works-container{
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.work-container{
    width: 500px;
    height: 300px;
    /*background-image: url('./assets/black-paper-rectangle-edges.png');
    background-size:contain;
    background-repeat: no-repeat;*/
    margin: 25px;
    transition: all 300ms linear;
    position: relative;
}

.work-container:hover{
    cursor: pointer;
    opacity: 0.9;
}

#single-post-hover-title{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    transition: all 300ms linear;
    color: #FFFFFF;
    flex-direction: column;
}

.thumbnail-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    transition: all 300ms linear;
}

.thumbnail-wrapper img{
    width: 90%;
    max-height: 100%;
    justify-content: center;
    object-fit: cover;
    background-color: black;
}

.description-wrapper{
    color: #FFFFFF;
    margin-top: 20px; 
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: normal;
    flex-wrap: wrap;
}

#work-artist{
    font-size: 12px;
}
#work-title{
    font-size: 14px;
    font-weight: 600;
}
#work-year{
    font-size: 12px;
}

.description-wrapper p{
    margin: 5px 0;
}

#rent-description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin: 50px 0;
    position: relative;
    padding: 0;
}

#rent-description p{
    padding: 0;
    width: 80%;
    text-align: center;
}

#rent-description span{
    font-weight: 600;
}

#rent-description span:hover{
    cursor: pointer;
}

#gear-to-rent-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#gear-container{
    width: 300px;
    height: 300px;
    background-image: url('./assets/black-paper-square-edges.png ');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
}

#rent-category-wrapper{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#rent-image-wrapper{
    margin-bottom: 25px;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#rent-image-wrapper img{
    width: 100%;
}

#rent-description-wrapper{
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

#rent-price{
    font-weight: 300;
    margin-top: 5px;
    font-size: 12px;
}

#info-circle{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    z-index: 99;
}

#info-label{
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 99;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    width: 60px;
    justify-content: center;
    align-items: center;
    display: none;
}

#category-menu{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


#category-menu div{
    margin: 10px 12px;
}

#category-menu div:hover{
    cursor: pointer;
    text-decoration: underline;
}

#category-menu li{
    list-style-type: none;
}

.rent-category-title{
    width: 90%;
    padding-left: 10%;
    margin: 20px 0;
}

.business-slogan{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-slogan span{
    font-size: 16px;
    font-weight: 400;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-image: url('./assets/black-paper-3.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    padding-top: 70px;
}
#about-picture{
    height: 300px;
    margin-right: 40px;
    z-index: 2;
}
#about-text{
    padding: 10px;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    word-wrap: normal;
    z-index: 2;
    width: 30%;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    body{
        background-attachment: scroll;
    }
    .background-image-container{
        background-image: url('./assets/black-paper-5.png');
    }

    #category-menu{
        padding-left: 10%;
        align-items: flex-start;
        flex-direction: column;
    }
    
    #category-menu li{
        list-style-type: disc;
    }

    #info-circle{
        display: none;
    }

    #rent-category-wrapper{
        justify-content: center;
    }

    .about-container{
        flex-direction: column;
    }
    #about-text{
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .background-image-container{
        background-image: url('./assets/black-paper-6.png');
    }
    .buttons-container{
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 40px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #main-title{
        word-break:normal;
        width: 80%;
    }
    #logo{
        left: 0;
        position: relative;
        margin-bottom: 15px;
    }

    .business-slogan span{
        width: 80%;
        text-align: left;
    }


    .work-container{
        width: 400px;
        height: 200px;
        margin: 10px 0;
    }

    .thumbnail-wrapper{
        opacity: 0.8;
    }

    #single-post-hover-title{
        display: flex;
    }

    #category-menu{
        width: 90%;
        padding-left: 10%;
        align-items: flex-start;
        flex-direction: column;
    }

    #category-menu div{
        margin: 10px 0px;
    }
    
    #category-menu li{
        list-style-type: disc;
    }

    #rent-image-wrapper{
        margin-bottom: 10px;
        width: 40%;
    }

    #about-text{
        width: 90%;
    }
}
